* {
  box-sizing: border-box;
}
:root {
  --primary-color: #ccdbdc;
  --secondary-color: #9ad1d4;
  --background-color: #3d7c83;
  --text-color: #007ea7;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: #007ea7;
  background-color: #ccdbdc;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px 8aaa;
  background-color: #9ad1d4;
  color: #80ced7;
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 4px #161818;
  text-align: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

nav a[aria-current="page"] {
  color: #000;
  background-color: var(--text-color);
}

nav a:hover {
  background-color: var (var(--text-color));
}
main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}
h1 {
  font-weight: bold;
  font-size: 2vw;
}

.child {
  border: solid 2px black;
  padding: 1.25rem;
  margin: 2rem;
  background-color: var(--primary-color);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.child:hover {
  background-color: var(--secondary-color);
}

.parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--text-color);
}

.footer {
  display: flex;
  padding: 1rem;
  background-color: var(--primary-color);
  justify-content: space-between;
  position: sticky;
  width: 100%;
  bottom: 0px;
}

.parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  border: solid 3px black;
}

.picture {
  border: solid 3px black;
  margin: 1rem;
  width: 45%;
  min-width: 200px ;

  
}


